body {
  font-family: monospace;
  font-size: large;
}

tbody > td:first-of-type {
  text-align: left;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.tp {
  padding-top: 1rem;
}

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invoice-header {
  align-items: flex-start;
  gap: 5px;
  width: 30%;
}

.invoice-header > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.invoice-header label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.invoice-header input {
  width: 120px;
}

.sides {
  width: 100%;
}

.side {
  width: 100%;
  gap: 5px;
}

.side-rp {
    padding-right: 1rem;
}

.side > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.side label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.side input {
  width: 300px;
}

.side textarea {
  width: 300px;
}

.summary {
  align-items: flex-start;
  gap: 5px;
  width: 50%;
}

.summary > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary input {
  width: 120px;
}

.summary select {
  width: 120px;
}

#total-due {
  width: 500px;
}
